* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* background-color: salmon; */
}
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(85, 6, 0);
    
}
#page {
    background-color: rgb(189, 105, 98);
}

}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 176, 170);
    
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(128, 29, 21);
}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(97, 82, 81);
    background-color: white;
}

html, body {
    height: 100%;
}
body {
    background-color: salmon;
}