* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: salmon; */
}
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(85, 6, 0);
}
img#salmon (1).logo {
    width: 20%;
    display: block;
    margin: 0 auto;
}
body {
    background-color: salmon;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}
nav {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
}

nav ul {
  display: inline-block;
  width: auto;
  list-style-type: none;
}

nav li {
    float: left;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(180, 149, 147);
}

a:hover {
    text-decoration: underline;
}
#page {
    background-color: rgb(189, 105, 98);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 176, 170);
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(128, 29, 21);
}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(97, 82, 81);
    background-color: rgb(67, 38, 36);
}
html, body {
    height: 100%;
}
